.item {
  position: relative;
}

.item__img {
  width: 280px;
  height: 330px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 11px;
}

.item__favorite-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  transition: color 0.4s ease-in, opacity 0.4s ease-in;
  color: var(--white-color);
}
.item__favorite-btn:hover {
  color: var(--heart-color);
  opacity: 0.5;
}
.item__favorite-btn:focus {
  color: var(--heart-color);
  opacity: 0.75;
}
.item__favorite-btn:active {
  color: var(--heart-color);
  opacity: 1;
}

.item__control-wrapper {
  display: grid;
  grid-template-columns: 1fr 115px;
  gap: 9px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.item__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.item__to-cart {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
  padding: 8px;
}
.item__to-cart:hover {
  background-color: #464343;
}
.item__to-cart:focus {
  padding: 7px;
  background-color: var(--gray-color);
  color: var(--black-color);
  border: 1px solid var(--black-color);
}
.item__to-cart:active {
  padding: 7px;
  background-color: var(--white-color);
  color: var(--black-color);
  border: 1px solid var(--black-color);
}
.item__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.item__old-price {
  position: relative;
  font-size: 14px;
  line-height: 17px;
}
.item__old-price::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  left: 0;
  top: 50%;
  background-color: var(--heart-color);
  transform: rotate(-4.34deg);
}

.item__description-btn {
  border: none;
  background-color: transparent;
}
.item__description-text {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.item__description-text::before {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  bottom: 1px;
  left: 0;
  background-color: var(--black-color);
}
.item__description-text:hover {
  color: #464343;
}
.item__description-text:focus {
  color: #6c6767;
}
.item__description-text:active::before {
  content: none;
}
